* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.screen {
    height: 4rem;
    margin-bottom: 4rem;
}

.wrapper {
    background-color:antiquewhite;
    width: 20rem;
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 1rem;
    box-shadow: -20px 20px 9px -5px rgba(0,0,0,0.1);
}
  